<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자세히보기</title>
</head>
<body>
    <h1>{{youtube.name}}</h1>
    <p>{{youtube.creator}}</p>
    <p>{{youtube.subscibers}}</p>
    <p>{{youtube.preference}}</p>
    <p>{{youtube.live}}</p>
    <p>{{youtube.link1}}</p>
    <p>{{youtube.link2}}</p>
    <p>{{youtube.link3}}</p>
    <p>{{youtube.text}}</p>
    <p>{{youtube.summary}}</p>
    <p>{{youtube.photo.url}}</p>
</body>
</html>