<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추가하기</title>
</head>
<style>
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <form action="{% url 'add' %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p>음반이름</p>
        <input type="text" name="name">
        <p>가수이름</p>
        <input type="text" name="artist">
        <p>발표일</p>
        <input type="intger" name="release">
        <p>재생시간</p>
        <input type="intger" name="playTime">
        <p>장르</p>
        <textarea cols=40 rows=3 name="genre"></textarea>
        <p>세부사항</p>
        <textarea cols=100 rows=10 name="description"></textarea>
        <p>엘범아트 삽입하기</p>
        <input type="file" name="albumArt" required>
        <input class="button" type="submit" value="추가하기">   
    </from>
</body>
</html>