<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정하기</title>
</head><style>
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <form action="{% url 'change' change_key.id %}" method="POST">
        {% csrf_token %}
        <p>가수명 : </p>
        <input type="text" name="nameSinger" value="{{change_key.singerName}}">
        <p>애정곡1 : </p>
        <input type="text" name="favSong1" value="{{change_key.favSongName1}}">
        <p>뽀인트 : </p>
        <input type="text" name="why" value="{{change_key.whyFavSinger}}">
        <input type="submit" value="수정하기">
    </form>
</body>
</html>