<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>수정하기</title>
</head>
<style>
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    <form action="{% url 'change' change_key.id %}" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        <p>음반이름 : </p>
        <input type="text" name="name" value="{{change_key.name}}">
        <p>가수이름 : </p>
        <input type="text" name="artist" value="{{change_key.artist}}">
        <p>발표일 : </p>
        <input type="text" name="release" value="{{change_key.release}}">
        <p>재생시간 : </p>
        <input type="text" name="release" value="{{change_key.playTime}}">
        <p>장르 : </p>
        <input type="text" name="release" value="{{change_key.genre}}">
        <p>세부사항 : </p>
        <input type="text" name="release" value="{{change_key.description}}">
        <p>엘범아트 삽입하기</p>
        <input type="file" name="albumArt" required>
        {{form.albumArt}}
        <input type="submit" value="수정하기">
    </form>   
</body>
</html>