<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box {
            width: 500px;
            height: auto;
            border: 1px solid black;
        }
        .content{
            margin: 10px;
        }
        .author {
            font-size: 20px;
        }
        .comment{
            width: auto;
            height: auto;
            padding: 10px;
            border: 1px solid black;
        }
        #form{
            display: none;
        }
    </style>
</head>

<body>
    <div class='box'>
        <div class="content">
            <p> {{ppost.id}}번째 글</p>
            <h2>{{ppost.title}}</h2>
            <p class="author">by. {{ppost.author}}</p>
            <p class="body">{{ppost.content}}</p>
        </div>

        <div class="comment">
            <p>댓글</p>
            <form method="POST" action="{% url 'comment_create' ppost.id %}">
                {% csrf_token %}
                {{form.as_p}}
                <br>
                <input type="submit" value="입력하기">
            </form>
            {% for comments in comment %}
                <span>{{comments.author}}</span>
                <span>{{comments.create}}</span>
                <p>{{comments}}</p>
                {% if user == comments.author %}
                    <button id="edit" onclick=openForm();>수정하러가기</button>
                <div id="form">
                    <form method="POST" action="{% url 'comment_update' comments.id ppost.id %}">
                        {% csrf_token %}
                        {{form.as_p}}
                        <input type="submit" value="수정하기">
                    </form>
                </div>
                <p>
                    <a href="{% url 'comment_delete' comments.id ppost.id %}">
                        <button>삭제</button>
                    </a>
                </p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
<script type="text/javascript">
    function openForm(){
        console.log('sss');
        var form = document.getElementById('form');
        form.style.display = 'block';
    }
    {%  if messages %}
        {% for text in messages %}
            alert("{{text.message}}");
        {% endfor %}
    {% endif %}
</script>
</body>

</html>