<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>20200818 오늘은 댓글과 좋아요 기능을 만들어 봅시다</h1>

    {% if user.is_authenticated %}
    <p style="font-size:20px;">안녕하세요 {{user}}님:-)
        <a href="{% url 'logout' %}">
            <button>로그아웃</button>
        </a>
    </p>


    {% else %}

    <a href="{% url 'signup' %}">
        <button>회원가입</button>
    </a>

    <a href="{% url 'login' %}">
        <button>로그인</button>
    </a>
    {% endif %}

    <hr>


    <ul>
        {% for post in post %}
        <li><a href="{% url 'detail' post.id %}">{{post.title}}</a></li>

        {% endfor %}
    </ul>

    <h3>아직 아무 게시물도 없습니다.</h3>

</body>

</html>