<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="#">
        <p>제목</p>
        {{form.title}}
        <p>내용</p>
        {{form.text}}
        <p>좋아요</p>
        {{form.choice}}
    </form>
    <form action="#">
        <p>제목 : </p>
        {{form2.title}}
        <p>내용 : </p>
        {{form2.text}}
        <p>좋아요 : </p>
        {{form2.choice}}
    </form>
</body>
</html>