<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>엘범아트 전시</title>
</head>
<style>
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
<body>
    {% for i in myAlbum_obj.all %}
        <h1>{{i.name}}</h1>
        <p>{{i.artist}}</p>
        <p>{{i.release}}</p>
        <p>{{i.playTime}}</p>
        <p>{{i.genre}}</p>
        <p>{{i.desription}}</p>
        <p><img src="{{i.albumArt.url}}"></p>
        
        <a href="{% url 'change' i.id %}">
            <button class="button" name="change">수정</button>
        </a>
        <a href="{% url 'delete' i.id %}">
            <button class="button" name="delete">삭제</button>
        </a>
    {% endfor %}
    <a href="{% url 'add' %}">
        <button class="button" name="add">새로운 내용 입력하기</button>
    </a>
</body>
</html>